# fly.toml app configuration file generated for ena-coach-sec-agent on 2026-01-14T16:32:57Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ena-coach-sec-agent'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
